<div class="page-header">
<h2>

<% @message.text.split.each do |w| %>
	
	<% e = Expression.find_by_raw_text(w) %>

    <% if !e.nil? && e.symbol=='link' %>
   		<%= link_to(e.raw_text, e.raw_text) %>
    <% else %>
   		<%= w %>
   	<% end %>

<% end %>
</h2>

<p>
<span> comentarios:<%= @message.comments %>, </span>
<span> favoritos:<%= @message.likes %>, </span>
<span> retweets:<%= @message.repetitions %> </span>
</p>
</div>


<% ########################################## DISTANCIA SOCIAL ##################################3 %>

<div class="col-md-4">
<h3>Mensajes que mencionan a usuarios cercanos: </h3>
	<% if !@specific_social_distance.empty? %>
	<% @specific_social_distance.each do |i| %>
		
		<%= link_to(i.text, i) %><br>
		<br>

	<% end -%>
	<% else %>
		<p>No hay mensajes de usuarios cercanos</p>
	<% end -%>
</div>

<% ########################################## DISTANCIA SEMANTICA ##################################3 %>

<div class="col-md-4">
<h3>Mensajes con hashtags o links relacionados: </h3>

	<% if !@specific_semantic_distance.empty?%>
	<% @specific_semantic_distance.each do |i| %>
		
				<%#= i.text_distance%>
		<%= link_to(i.text, i) %><br>
		<br>

	<% end -%>
	<% else %>
		<p>No hay mensajes con links o hashtags relacionados</p>
	<% end -%>


</div>

<% ########################################## DISTANCIA DE TEXTO ##################################3 %>

<div class="col-md-4">
<h3>Mensajes con Texto Similar: </h3>

	<% if !@specific_text_distance.empty?%>
	<% @specific_text_distance.each do |i| %>

		<%#= i.text_distance%>
		<%= link_to(Message.find(i.target_id).text, Message.find(i.target_id)) %><br>
		<br>

	<% end %>
	<% else %>
		<p>No hay mensajes con texto similar</p>
	<% end -%>

</div>
