<div class="page-header">
<h2>

<% @message.text.split.each do |w| %>
	
	<% e = Expression.find_by_raw_text(w) %>

    <% if e.nil? %>
   		<%= w %>
    <% else %>
   		<%= link_to(e.raw_text, e) %>
   	<% end %>

<% end %>
</h2>

<span> comentarios:<%= @message.comments %>, </span>
<span> favoritos:<%= @message.likes %>, </span>
<span> retweets:<%= @message.repetitions %> </span>

</div>


<% ########################################## DISTANCIA SOCIAL ##################################3 %>

<div class="col-md-4">
<h3>Usuarios Relacionados: </h3>

	<% @specific_social_distance.each do |u, i| %>
		<%= u.twitter_name %> is close with: <%= link_to(i.twitter_name, i) %> <br> <br>
	<% end %>
</div>

<% ########################################## DISTANCIA SEMANTICA ##################################3 %>

<div class="col-md-4">
<h3>Expresiones Semanticas Similares: </h3>

	<% @message.expressions.each do |e| %>
	
	<p>otros tweets con la expresion <%= e.raw_text %> :</p>

	<ol> <% e.messages.each do |m| %>
			<% if e.messages.count == 1%>
				<ul>self and no others</ul>
			<% else %>
				<% unless m.id == @message.id %>
					<ul> <%= link_to(m.text, m) %> </ul>
				<% end -%>
			<% end -%>
		<% end -%>
	</ol>
	<% end -%>

	<% @message.expressions.each do |e| %>

		expressiones relacionadas con <%= e.raw_text %> : 
		<% e.coocurrances.each do |c| %>
			<li> <%= c.raw_text %> </li>
		<% end -%>
		<br>
	<% end -%>

</div>

<% ########################################## DISTANCIA DE TEXTO ##################################3 %>

<div class="col-md-4">
<h3>Mensajes con Texto Similar: </h3>

	<% @specific_text_distance.each do |i| %>

		<%#= i.text_distance%>
		<%= link_to(Message.find(i.target_id).text, Message.find(i.target_id)) %><br>
		<br>

	<% end %>

</div>
